.about-us {
  padding: 0 20px;
  width: 100%;

  &__title {
    color: $dark;
    font-size: 25px;
    text-align: center;
    position: relative;
    font-family: math;
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -3px;
      background-color: $main-pink;
      width: 10%;
      height: 2px;
    }
  }

  & img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
  }

  &__text {
    font-size: 16px;
    color: $dark;
    line-height: 23px;
    margin-bottom: 20px;
  }
}

@media (min-width: 575px) {
  .about-us__box {
    display: flex;
    gap: 25px;
    align-items: center;
  }
  .about-us img {
    width: 45%;
    border: 2px solid $dark;
    padding: 20px;
  }
}
@media (min-width: 700px) {
  .about-us__text {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 768px) {
  .about-us__title {
    font-size: 30px;
  }
  .about-us__text {
    font-size: 20px;
    line-height: 29px;
  }
}
@media (min-width: 800px) {
  .about-us__title {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .about-us__text {
    font-size: 25px;
    line-height: 40px;
  }
  .about-us__title {
    font-size: 40px;
  }
}
@media (min-width: 1400px) {
  .about-us__text {
    font-size: 25px;
    line-height: 40px;
  }
  .about-us__title {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .about-us__text {
    font-size: 30px;
    line-height: 50px;
  }
}

@media (min-width: 1600px) {
  .about-us {
    padding: 0 100px;
  }
  .about-us__box {
    gap: 75px;
  }
  .about-us__text {
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 50px;
  }
  .about-us__title {
    font-size: 50px;
  }
  .about-us img {
    width: 30%;
  }
}
@media (min-width: 1800px) {
  .about-us__text {
    font-size: 35px;
    line-height: 55px;
    margin-bottom: 50px;
  }
}
