.contact {
  &__title {
    color: $dark;
    font-size: 25px;
    text-align: center;
    position: relative;
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
    font-weight: 400;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -3px;
      background-color: $main-pink;
      width: 10%;
      height: 2px;
    }
  }

  &__address {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
    align-items: center;

    & i {
      font-family: "FontAwesome";
      font-style: normal;
      transform: rotate(90deg);
      font-size: 25px;
      color: $main-pink;
    }

    & a {
      font-size: 16px;
      color: $dark;
      font-weight: 700;
      transition: all 0.3s;

      &:hover {
        color: $main-pink;
      }
    }
  }

  &__fb {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    gap: 10px;

    & a {
      display: flex;
      align-items: center;
      gap: 10px;
      color: $dark;
      transition: all 0.3s;

      &:hover {
        color: $main-pink;
      }
    }
  }

  &__fb i {
    font-family: "FontAwesome";
    font-style: normal;
    font-size: 30px;
    color: $main-pink;
  }

  & p {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 700;
  }

  & iframe {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    & iframe {
      width: 90%;
      border-radius: 20px;
    }

    &__title {
      font-size: 30px;
      margin-bottom: 30px;
    }

    &__box {
      display: flex;
      gap: 50px;
      margin-top: 20px;
    }
  }
}
@media (min-width: 1200px) {
  .contact {
    &__title {
      font-size: 40px;
    }
  }
  .contact__address i,
  .contact__fb i {
    font-size: 40px;
  }

  .contact__address,
  .contact__fb {
    gap: 20px;
  }

  .contact__address a,
  .contact__fb p {
    font-size: 22px;
  }
}
