* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: $bg-color;
}

i {
  font-family: "FontAwesome";
  font-style: normal;
  z-index: 1001;
}
