* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #fdf1fd;
  font-family: "Roboto", sans-serif;
  height: 1000vh;
}

i {
  font-family: "FontAwesome";
  font-style: normal;
  z-index: 1001;
}

.pink {
  color: #fa8ea0;
}

.hide {
  opacity: 0;
  -webkit-transform: translateX(30%) !important;
          transform: translateX(30%) !important;
}

.header {
  padding: 15px;
  position: fixed;
  width: 100%;
  max-width: 1920px;
  -webkit-box-shadow: 0 3px 20px rgba(250, 142, 160, 0.4);
          box-shadow: 0 3px 20px rgba(250, 142, 160, 0.4);
  z-index: 9999;
  background-color: #fdf1fd;
}

.header__logo {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
}

.header__hamburger {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  width: 25px;
  background-color: #272727;
  height: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__hamburger__box {
  padding: 15px;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 18px;
  width: 25px;
  cursor: pointer;
}

.header__hamburger::before, .header__hamburger::after {
  content: "";
  position: absolute;
  background-color: #fa8ea0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__hamburger::before {
  top: -7px;
}

.header__hamburger::after {
  bottom: -7px;
}

.header__hamburger:hover::before, .header__hamburger:hover::after {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.header__modal {
  top: 50px;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  height: 300px;
  background-color: #fdf1fd;
  border-radius: 0 0 20px 20px;
  left: 70%;
  -webkit-transform: translateX(-70%);
          transform: translateX(-70%);
  overflow: hidden;
}

.header__modal__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  height: 100%;
  font-size: 20px;
  list-style: none;
}

.header__modal__list__item__link {
  color: #272727;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Roboto", sans-serif;
}

.header__modal__list__item__link:hover {
  color: #fa8ea0;
}

.header__modal__list__item__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20%;
  background-color: #fa8ea0;
  height: 2px;
  border-radius: 2px;
}

.header__nav__desktop {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

.header__modal__list__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 20px;
}

.header__modal__list__item__link__desktop {
  font-size: 14px;
  color: #272727;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.header__modal__list__item__link__desktop:hover {
  color: #fa8ea0;
}

.header__modal__list__item__link__desktop::before {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 20%;
  background-color: #fa8ea0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__modal__list__item__link__desktop:hover::before {
  width: 50%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px;
}

.close-btn::before, .close-btn::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  border-radius: 3px;
  background-color: #272727;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.close-btn::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-btn:hover::before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.close-btn:hover::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 575px) {
  .header__hamburger__box,
  .header__modal {
    display: none;
  }
  .header__nav__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }
  .header__logo {
    font-size: 30px;
  }
  .header__nav__desktop {
    top: 20px;
    right: 20px;
  }
  .header__modal__list__item__link__desktop {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 30px;
  }
  .header__logo {
    font-size: 30px;
  }
  .header__nav__desktop {
    top: 30px;
    right: 30px;
  }
  .header__modal__list__item__link__desktop {
    font-size: 20px;
  }
  .header__modal__list__desktop {
    gap: 40px;
  }
  .header {
    -webkit-box-shadow: 0 -15px 50px rgba(250, 142, 160, 0.4);
            box-shadow: 0 -15px 50px rgba(250, 142, 160, 0.4);
  }
}

@media (min-width: 1700px) {
  .header__logo {
    font-size: 40px;
  }
  .header__modal__list__item__link__desktop {
    font-size: 25px;
  }
  .header__modal__list__desktop {
    gap: 60px;
  }
}

.under-header {
  width: 100%;
  padding-top: 50px;
  height: auto;
  position: relative;
  margin-bottom: 40px;
}

.under-header img {
  width: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  position: relative;
  z-index: 1;
}

.under-header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 30%;
  z-index: 1001;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 20px;
}

.under-header__box__subtitle__desktop {
  font-size: 20px;
  font-family: math;
  margin-bottom: 50px;
  line-height: 29px;
  display: none;
}

.under-header__box__title {
  text-align: center;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  color: #fdf1fd;
  margin-bottom: 20px;
  font-weight: 400;
}

.under-header__box__subtitle {
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fdf1fd;
  margin-bottom: 50px;
}

.under-header button {
  background-color: transparent;
  border: none;
}

.under-header__btn {
  color: #272727;
  font-size: 16px;
  border: 1px solid #fdf1fd;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #fdf1fd;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.under-header__btn:hover {
  color: #fa8ea0;
  background-color: transparent;
  border-color: #fa8ea0;
}

.under-header i {
  font-size: 25px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
  color: #fdf1fd;
  -webkit-animation: arrowDown 2s infinite;
          animation: arrowDown 2s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.overall {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: calc(100% - 50px);
  z-index: 1000;
}

@media (min-width: 450px) {
  .under-header__box__title {
    font-size: 30px;
  }
}

@media (min-width: 500px) {
  .under-header img {
    height: 470px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 575px) {
  .under-header i {
    display: none;
  }
  .overall {
    display: none;
  }
  .under-header__box {
    position: static;
    -webkit-transform: translate(0);
            transform: translate(0);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .under-header img {
    width: 40%;
    -webkit-filter: blur(0);
            filter: blur(0);
    height: auto;
    border-radius: 30px;
    border: 2px solid #272727;
    padding: 20px;
  }
  .under-header__box__title,
  .under-header__box__subtitle {
    color: #272727;
    text-align: left;
  }
  .under-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 100px 15px 20px;
  }
  .under-header__btn {
    background-color: #fa8ea0;
    border-color: #fa8ea0;
    color: #fdf1fd;
  }
  .under-header__btn:hover {
    background-color: #272727;
    border-color: #272727;
    color: #fdf1fd;
  }
  .under-header__box__title {
    font-size: 29px;
  }
  .under-header__box {
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .under-header {
    padding: 100px 20px 20px;
  }
  .under-header__box__title {
    font-size: 32px;
  }
  .under-header__box__subtitle {
    display: none;
  }
  .under-header__box__subtitle__desktop {
    display: block;
  }
}

@media (min-width: 900px) {
  .under-header__box__title {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .under-header {
    padding: 100px 30px 50px;
  }
  .under-header__box__title {
    font-size: 50px;
    max-width: 700px;
  }
  .under-header__box__subtitle__desktop {
    font-size: 23px;
    line-height: 35px;
  }
  .under-header__btn {
    font-size: 23px;
  }
  .under-header__box__subtitle__desktop {
    font-size: 25px;
  }
}

@media (min-width: 1400px) {
  .under-header__box__title {
    font-size: 56px;
  }
  .under-header img {
    width: 37%;
  }
}

@media (min-width: 1600px) {
  .under-header__box__title {
    font-size: 65px;
  }
  .under-header__box__subtitle__desktop {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 80px;
  }
  .under-header__btn {
    font-size: 25px;
    padding: 15px 20px;
  }
  .under-header {
    padding: 150px 100px 50px;
  }
  .under-header__box {
    max-width: 900px;
  }
  .under-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__logo {
    padding-left: 100px;
  }
  .header__nav__desktop {
    right: 100px;
  }
  .header {
    padding: 30px 0;
  }
  .under-header img {
    width: 37%;
  }
}

@media (min-width: 1800px) {
  .under-header__box__title {
    font-size: 69px;
  }
  .under-header img {
    border: 3px solid #272727;
    padding: 30px;
    border-radius: 80px;
  }
}

@-webkit-keyframes arrowDown {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 20px;
  }
}

.about-us {
  padding: 0 20px;
  width: 100%;
}

.about-us__title {
  color: #272727;
  font-size: 25px;
  text-align: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  font-weight: 400;
}

.about-us__title::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -3px;
  background-color: #fa8ea0;
  width: 10%;
  height: 2px;
}

.about-us img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 30px;
}

.about-us__text {
  font-size: 16px;
  color: #272727;
  line-height: 23px;
  margin-bottom: 20px;
}

@media (min-width: 400px) and (max-width: 575px) {
  .about-us__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us img {
    width: 60%;
  }
}

@media (min-width: 575px) {
  .about-us__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us img {
    width: 45%;
    border: 2px solid #272727;
    padding: 20px;
  }
}

@media (min-width: 700px) {
  .about-us__text {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (min-width: 768px) {
  .about-us__title {
    font-size: 30px;
  }
  .about-us__text {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (min-width: 800px) {
  .about-us__title {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .about-us__text {
    font-size: 25px;
    line-height: 40px;
  }
  .about-us__title {
    font-size: 40px;
  }
}

@media (min-width: 1400px) {
  .about-us__text {
    font-size: 25px;
    line-height: 40px;
  }
  .about-us__title {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .about-us__text {
    font-size: 30px;
    line-height: 50px;
  }
  .about-us img {
    width: 30%;
  }
}

@media (min-width: 1600px) {
  .about-us {
    padding: 0 100px;
  }
  .about-us__box {
    gap: 75px;
  }
  .about-us__title {
    font-size: 50px;
  }
  .about-us__text {
    font-size: 25px;
    line-height: 40px;
  }
}

@media (min-width: 1800px) {
  .about-us__text {
    font-size: 35px;
    line-height: 55px;
    margin-bottom: 50px;
  }
}

.what-we-do {
  margin-top: 50px;
  padding: 0 20px;
  margin-bottom: 50px;
}

.what-we-do__title {
  color: #272727;
  font-size: 25px;
  text-align: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  margin-bottom: 80px;
  font-weight: 400;
}

.what-we-do__title::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -3px;
  background-color: #fa8ea0;
  width: 10%;
  height: 2px;
}

.what-we-do__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}

.what-we-do__container__box {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 15px;
  -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 0 15px;
  padding-bottom: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.what-we-do__container__box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.what-we-do__container__box__title {
  font-size: 20px;
  color: #272727;
  line-height: 23px;
  margin-bottom: 10px;
}

.what-we-do__container__box__text {
  font-size: 13px;
  color: #626262;
  line-height: 18px;
  text-align: center;
}

.what-we-do img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fa8ea0;
  padding: 3px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -50px;
}

@media (min-width: 400px) {
  .what-we-do__container__box {
    width: 350px;
  }
}

@media (min-width: 575px) {
  .what-we-do__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .what-we-do__container__box {
    width: 250px;
  }
  .last-box {
    margin-top: 50px;
  }
}

@media (min-width: 768px) {
  .what-we-do__container__box {
    width: 225px;
  }
  .last-box {
    margin-top: 0;
  }
  .what-we-do__title {
    margin-bottom: 100px;
    font-size: 30px;
  }
}

@media (min-width: 1000px) {
  .what-we-do__container__box {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .what-we-do__container__box {
    width: 360px;
  }
  .what-we-do__title {
    font-size: 40px;
  }
  .what-we-do__container__box__text {
    font-size: 16px;
    line-height: 25px;
  }
  .what-we-do__container__box__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1500px) {
  .what-we-do__container__box {
    width: 450px;
    height: 450px;
    border-radius: 40px;
    -webkit-box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  }
  .what-we-do__container__box:hover {
    -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
  }
  .what-we-do img {
    width: 200px;
    height: 200px;
    top: 50px;
  }
  .what-we-do__container__box__text {
    font-size: 20px;
    line-height: 30px;
  }
  .what-we-do__container__box__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  .what-we-do__container {
    gap: 50px;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__title {
  color: #272727;
  font-size: 25px;
  text-align: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  font-weight: 400;
}

.gallery__title::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -3px;
  background-color: #fa8ea0;
  width: 10%;
  height: 2px;
}

.gallery__btn {
  width: 50%;
  background: transparent;
  border: 1px solid #fa8ea0;
  margin-top: 30px;
  padding: 10px 0px;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery__btn a {
  color: #272727;
  font-size: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.gallery__btn:hover {
  background-color: #272727;
  border: 1px solid #272727;
}

.gallery__btn:hover a {
  color: #fdf1fd;
}

.carousel-item img {
  width: 90% !important;
  border-radius: 15px;
  margin: 0 auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  position: absolute;
  right: 30px;
  -webkit-filter: invert(62%) sepia(89%) saturate(422%) hue-rotate(303deg) brightness(104%) contrast(96%);
          filter: invert(62%) sepia(89%) saturate(422%) hue-rotate(303deg) brightness(104%) contrast(96%);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.carousel-control-prev-icon {
  left: 30px;
}

.carousel-indicators [data-bs-target] {
  background-color: #272727;
}

@media (min-width: 500px) {
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    -webkit-transform: scale(3);
            transform: scale(3);
  }
  .carousel-control-next-icon {
    right: 60px;
  }
  .carousel-control-prev-icon {
    left: 60px;
  }
}

@media (min-width: 768px) {
  .carousel-item img {
    width: 100% !important;
    height: 600px;
  }
  .carousel-control-next-icon {
    right: -60px;
  }
  .carousel-control-prev-icon {
    left: -60px;
  }
  .gallery__btn {
    width: 30%;
    margin-top: 50px;
  }
  .gallery__title {
    font-size: 30px;
  }
  .gallery {
    margin-top: 100px;
  }
}

@media (min-width: 1200px) {
  .gallery__title {
    font-size: 40px;
  }
}

@media (min-width: 1500px) {
  .carousel-item img {
    width: 80% !important;
    height: 700px;
  }
  .gallery__btn {
    width: 15%;
  }
  .gallery__container {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */